
/*==================================Footer====================================*/
.footer {
  background-color: var(--theme-white);
  padding: 0 20px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 48px;
  border-radius: 12px;
  background: var(--theme-main);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  padding: 12px 24px 24px 24px;
  color: var(--theme-white);

  @include small-screen {
    padding: 36px;
  }

  h4 {
    display: flex;
    align-items: center;
  }

  svg {
    fill: var(--theme-white);
    margin-right: 8px;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;

  @include large-screen {
    justify-content: space-around;
    padding: 32px 0;
  }

  @include custom-screen(680) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    justify-items: center;
  }

  @include small-screen {
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}

.footer__menu__box {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include large-screen {
    max-width: 75%;
  }

  @include small-screen {
    max-width: initial;
  }

  span {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--theme-gray-400);

    @include large-screen {
      min-height: 20px;
    }

    @include medium-screen {
      font-size: 14px;
    }
  }

  h3 {
    margin-top: 8px;
    font-weight: 600;

    @include medium-screen {
      font-size: 14px;
    }
  }

  svg {
    fill: var(--theme-gray-400);
    margin-right: 8px;
  }
}
