@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
         url("/static/fonts/Inter-Bold.ttf") format("truetype"),
         url("/static/fonts/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF-Pro-Text'), local('SF-Pro-Text-Bold'), local('SF Pro Text Bold'),
         url("/static/fonts/SF-Pro-Text-Bold.ttf") format("truetype"),
         url("/static/fonts/SF-Pro-Text-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF-Pro-Text'), local('SF-Pro-Text-Semibold'), local('SF Pro Text Semibold'),
         url("/static/fonts/SF-Pro-Text-Semibold.ttf") format("truetype"),
         url("/static/fonts/SF-Pro-Text-Semibold.woff2") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF-Pro-Text'), local('SF-Pro-Text-Medium'), local('SF Pro Text Medium'),
         url("/static/fonts/SF-Pro-Text-Medium.ttf") format("truetype"),
         url("/static/fonts/SF-Pro-Text-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF-Pro-Text'), local('SF-Pro-Text-Regular'), local('SF Pro Text Regular'),
         url("/static/fonts/SF-Pro-Text-Regular.ttf") format("truetype"),
         url("/static/fonts/SF-Pro-Text-Regular.woff2") format("woff");
    font-weight: 400;
}
