@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('/static/fonts/#{$url}.ttf') format('truetype');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}

  @font-face {
    font-family: '#{$font-family}';
    src: url('/static/fonts/#{$url}.woff2') format('woff2');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@include font-face("Inter", "Inter-Bold", 700);
@include font-face("SF Pro Text", "SF-Pro-Text-Bold", 700);
@include font-face("SF Pro Text", "SF-Pro-Text-Semibold", 600);
@include font-face("SF Pro Text", "SF-Pro-Text-Medium", 500);
@include font-face("SF Pro Text", "SF-Pro-Text-Regular", 400);
