*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  background: var(--theme-gray);
}

body {
  font-family: 'SF Pro Text', sans-serif;
  color: var(--theme-main);
  max-width: 100vw;
  height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: $container-width;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
/*===================================Text=====================================*/
h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 144%;
}

h2 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}

h3 {
  font-size: 15px;
  font-weight: 500;
}

h4 {
  font-size: 13px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: "SF Pro Text", sans-serif;
}
/*==============================TextTemplate==================================*/
.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-20 {
  font-size: 20px;
}

.font-accent {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.text-accent {
  color: var(--theme-accent-light);
}

.text-accent-gray {
  color: var(--theme-gray-600);
  font-weight: 400;
}
/*================================Buttons=====================================*/
.blue-btn {
  outline: none;
  background-color: var(--theme-accent);
  border-radius: 8px;
  border: 4px solid transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 20px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    border: 4px solid #E0EAFF;
    transition: all .3s ease;
  }

  &:focus {
    border: 1px solid #00000029;
    padding: 10px 23px;
  }
}
/*=================================Fields=====================================*/
.white-box {
  display: flex;
  background-color: white;
  padding: 24px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.contact__field_box {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--theme-gray-500);
    padding-bottom: 8px;
  }
}

.main-field {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 0.7px solid #D0D5DD;
  padding-bottom: 8px;
  font-size: 17px;
  color: var(--theme-gray-900);
}
